* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;;
}

.container {
    width: 60%;
    min-width: 700px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar {
    background-color: #2f2f2f;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-interior {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: auto;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    list-style: none;
}

.nav-links a {
    color: #cccccc;
    text-decoration: none;
    margin-left: 20px;
}

a.active {
    color: #ffffff;
    font-weight: bold;
}

.btn {
    width: 80px;
    color: #ffffff;
    background-color: rgb(10, 184, 190);
    border: 3px solid black;
    box-shadow: 3px 3px black;
    padding: 5px;
    font-weight: bold;
}

.main-content {
    display: flex;
    justify-content: center;
}

.test {
    /* background-color: #2f2f2f; */
    border: 2px solid #2f2f2f;
    border-top: none;
    height: 1000px;
}