* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;;
}

.container {
    width: 60%;
    min-width: 700px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navbar {
    background-color: #2f2f2f;
    color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-interior {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: auto;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    list-style: none;
}

.nav-links a {
    color: #cccccc;
    text-decoration: none;
    margin-left: 20px;
}

a.active {
    color: #f8f8f8;
}

.btn {
    width: 80px;
    color: #f8f8f8;
    background-color: rgb(10, 184, 190);
    border: 3px solid black;
    box-shadow: 3px 3px black;
    padding: 5px;
    font-weight: bold;
}

.main-content {
    display: flex;
    justify-content: center;
}

.container-2 {
    width: 60%;
    min-width: 700px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

div.col {
    border: 2px solid #2f2f2f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.test {
    /* background-color: #2f2f2f; */
    border: 2px solid #2f2f2f;
    border-top: none;
    min-height: 500px;
}

/* User card styling */
#user {
    width: 90%;
}

#profile {
    width: 100px;
    position: relative;
    top: 50px;
    left: 40px;
    border: 3px solid rgb(201, 201, 201);
    border-radius: 50%;
    background-color: ghostwhite;
}

.top {
    background-color: rgb(10, 184, 190);
    flex: 1;
    border-radius: 5px 5px 0 0;
}

.bottom {
    background-color: ghostwhite;
    border: 3px solid rgb(201, 201, 201);
    border-top: 0;
    border-radius: 0 0 5px 5px;
    flex: 2;
    padding: 40px 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inline-image {
    width: 14px;
    margin-right: 5px;
}

/* Allows for vertical aligning the image/text combos in the profile */
.image-text {
    display: flex;
    align-items: center;
}

p {
    font-size: 20px;
}