<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Flask</title>

    <!-- Boostrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Link the static style sheet to the web page -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <h1 class="display-1 text-center">First Flask Project</h1>
    <form action="/add_friend" method="post" class="bg-light text-dark py-3 px-5 my-5 mx-auto col-10 col-sm-8 col-md-6">
        <h2 class="text-center mb-3">Add a Friend</h2>
        <div class="row mb-3">
            <label class="col-form-label col-sm-4 col-xl-3" for="first_name">First Name:</label>
            <div class="col-sm-8 col-xl-9">
                <input class="form-control" type="text" id="first_name" name="fname">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-form-label col-sm-4 col-xl-3" for="last_name">Last Name:</label>
            <div class="col-sm-8 col-xl-9">
                <input class="form-control" type="text" id="last_name" name="lname">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-form-label col-sm-4 col-xl-3" for="occupation">Occupation:</label>
            <div class="col-sm-8 col-xl-9">
                <input class="form-control" type="text" id="occupation" name="occ">
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <input class="btn btn-primary" type="submit" value="Add Friend">
        </div>
    </form>

    <hr>

    <h2 class="text-center m-5">All My Friends</h2>
    <div class="row mx-auto g-5 col-8 justify-content-center">
    {% for friend in all_friends %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img src="{{url_for('static', filename='imgs/user.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{friend.first_name}} {{friend.last_name}}</h5>
                    <p class="card-text">{{friend.occupation}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <!-- Boostrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>