<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container d-flex justify-content-around">
        <form action="/register" method="post" class="col-4 bg-dark text-light p-4">
            <h1 class="text-warning">Register</h1>
            {% with messages = get_flashed_messages(category_filter=["registration"]) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="mb-3">
                <label class="form-label" for="first_name">First Name:</label>
                <input class="form-control" type="text" name="first_name" id="first_name">
            </div>
            <div class="mb-3">
                <label class="form-label" for="last_name">Last Name:</label>
                <input class="form-control" type="text" name="last_name" id="last_name">
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Email:</label>
                <input class="form-control" type="email" name="email" id="email">
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" type="password" name="password" id="password">
            </div>
            <div class="mb-3">
                <label class="form-label" for="confirm">Confirm Password:</label>
                <input class="form-control" type="password" name="confirm" id="confirm">
            </div>
            <button class="btn btn-warning" type="submit" value="Register">Register</button>
        </form>
        <form action="/login" method="post" class="col-4 bg-dark text-light p-4">
            <h1 class="text-warning">Login</h1>
            {% with messages = get_flashed_messages(category_filter=["login"]) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="mb-3">
                <label class="form-label" for="email">Email:</label>
                <input class="form-control" type="email" name="email" id="email">
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" type="password" name="password" id="password">
            </div>
            <button class="btn btn-warning" type="submit" value="Login">Login</button>
        </form>
    </div>
</body>
</html>